<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="2.4">
  <display-name>United Health Clinic</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddDoctor</servlet-name>
    <servlet-class>servlets.AddDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctor</servlet-name>
    <url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDoctorConsultationSlot</servlet-name>
    <servlet-class>servlets.AddDoctorConsultationSlot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctorConsultationSlot</servlet-name>
    <url-pattern>/AddDoctorConsultationSlot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPatient</servlet-name>
    <servlet-class>servlets.AddPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatient</servlet-name>
    <url-pattern>/AddPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplyLeave</servlet-name>
    <servlet-class>servlets.ApplyLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyLeave</servlet-name>
    <url-pattern>/ApplyLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookAppointment</servlet-name>
    <servlet-class>servlets.BookAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAppointment</servlet-name>
    <url-pattern>/BookAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelAppointment</servlet-name>
    <servlet-class>servlets.CancelAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelAppointment</servlet-name>
    <url-pattern>/CancelAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadMedicalRecord</servlet-name>
    <servlet-class>servlets.DownloadMedicalRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadMedicalRecord</servlet-name>
    <url-pattern>/DownloadMedicalRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditDoctor</servlet-name>
    <servlet-class>servlets.EditDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDoctor</servlet-name>
    <url-pattern>/EditDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditPatient</servlet-name>
    <servlet-class>servlets.EditPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPatient</servlet-name>
    <url-pattern>/EditPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>servlets.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListAppointment</servlet-name>
    <servlet-class>servlets.ListAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAppointment</servlet-name>
    <url-pattern>/ListAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListDoctor</servlet-name>
    <servlet-class>servlets.ListDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDoctor</servlet-name>
    <url-pattern>/ListDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListLeave</servlet-name>
    <servlet-class>servlets.ListLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListLeave</servlet-name>
    <url-pattern>/ListLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListPatient</servlet-name>
    <servlet-class>servlets.ListPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPatient</servlet-name>
    <url-pattern>/ListPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveDoctor</servlet-name>
    <servlet-class>servlets.RemoveDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveDoctor</servlet-name>
    <url-pattern>/RemoveDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadMedicalRecord</servlet-name>
    <servlet-class>servlets.UploadMedicalRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadMedicalRecord</servlet-name>
    <url-pattern>/UploadMedicalRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Validate</servlet-name>
    <servlet-class>servlets.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ValidateFilter</filter-name>
    <filter-class>servlets.ValidateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidateFilter</filter-name>
    <url-pattern>/Validate</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>
